
footer {
  width: 100%;
  padding: 30px 0px;

  .footera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    .copy {
      font-size: 24px;
      i {
        color: red;
      }
    }
    .icons {
      display: flex;
      gap: 30px;
      color: gray;
align-items: center;
    }
  }
}
