
#selekt {
    width: 100%;
    height: 1050px;
    background-color: rgb(160, 160, 218);
    .tion{
        width: 100%;
        height: 1050px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .tion1{
            h1 {
                text-transform: normal;
                font-size: 96px;
                font-weight: 700;
                line-height: 1.2;
                margin-bottom: 26px;
            }
        
            p {
                font-size: 17px;
                line-height: 1.6;
                font-weight: 400;
                margin-bottom: 39px;
                color: #212025;
                margin-bottom: 60px;
                padding-right: 50px;
            }
            a{
                font-size: 22px;
                background-color: #212025;
                text-decoration: none;
                color: white;
                &:hover{
                    background-color: orange;
                }
            }
        }
        
    }
}