* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  max-width: 1400px;
  padding: 0px 32px;
  margin: auto;
}

nav {
  width: 100%;
  height: 120px;
  background-color: rgb(136, 147, 157);
  position: fixed;
  z-index: 11111111;
}
nav .ner {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .ner a {
  text-decoration: none;
  font-size: 32px;
  color: black;
}
nav .ner a span {
  color: red;
}
nav .ner ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
nav .ner ul a {
  font-size: 22px;
}
nav .ner ul a:hover {
  color: orange;
}
nav .ner .nerc {
  display: flex;
  gap: 20px;
}
nav .ner .nerc a {
  font-size: 24px;
}
nav .ner .nerc a:hover {
  color: orange;
}

#selekt {
  width: 100%;
  height: 1050px;
  background-color: rgb(160, 160, 218);
}
#selekt .tion {
  width: 100%;
  height: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#selekt .tion .tion1 h1 {
  text-transform: normal;
  font-size: 96px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 26px;
}
#selekt .tion .tion1 p {
  font-size: 17px;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 39px;
  color: #212025;
  margin-bottom: 60px;
  padding-right: 50px;
}
#selekt .tion .tion1 a {
  font-size: 22px;
  background-color: #212025;
  text-decoration: none;
  color: white;
}
#selekt .tion .tion1 a:hover {
  background-color: orange;
}

.sect2 .tiona2 {
  padding: 100px 0px;
}
.sect2 .tiona2 h2 {
  width: 100%;
  font-size: 50px;
  margin-bottom: 50px;
}
.sect2 .tiona2 .tom {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 50px;
  width: 100%;
}
.sect2 .tiona2 .tom .toma {
  gap: 20px;
  overflow: hidden;
}
.sect2 .tiona2 .tom .toma img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1s ease;
}
.sect2 .tiona2 .tom .toma img:hover {
  scale: 1.1;
}
.sect2 .tiona2 .tom .toma h3 {
  font-size: 24px;
  opacity: 0.8;
}
.sect2 .tiona2 .tom .toma span {
  color: red;
}

@media screen and (max-width: 1000px) {
  .sect2 .tiona2 .image-list {
    grid-template-columns: repeat(2, auto);
  }
}
@media screen and (max-width: 560px) {
  .sect2 .container .tiona2 .image-list {
    grid-template-columns: repeat(1, auto);
  }
}
#tion3 {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
#tion3 img {
  transform: scale(1.1);
  transition: all 1s ease;
  overflow: hidden;
}
#tion3:hover img {
  transform: scale(1);
}
#tion3 .ti1img {
  grid-column: 1/3;
  grid-row: 1/3;
  overflow: hidden;
}
#tion3 .ti1img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#tion3 .ti2img {
  grid-column: 3/4;
  grid-row: 1/3;
  overflow: hidden;
}
#tion3 .ti2img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#tion3 .ti3img,
#tion3 .ti4img {
  overflow: hidden;
}
#tion3 .ti3img img,
#tion3 .ti4img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#tion4 {
  width: 100%;
  margin-top: 50px;
}
#tion4 .tion4o {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}
#tion4 .tion4o .popular {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
#tion4 .tion4o .popular h2 {
  font-size: 70px;
}
#tion4 .tion4o .popular p {
  width: 65%;
}
#tion4 .tion4o .cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 50px;
}
#tion4 .tion4o .cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  position: relative;
}
#tion4 .tion4o .cards .card i {
  font-size: 30px;
  position: absolute;
  top: 0px;
  right: 15px;
  opacity: 0;
  color: orangered;
  transition: 0.6s;
  z-index: 1;
}
#tion4 .tion4o .cards .card:hover i {
  opacity: 1;
}
#tion4 .tion4o .cards .card .img {
  position: relative;
  overflow: hidden;
}
#tion4 .tion4o .cards .card .img::after {
  content: "Add To Cart";
  position: absolute;
  width: 100%;
  background: orangered;
  color: white;
  transition: 0.6s;
  bottom: -50px;
  left: 0;
  right: 0;
  padding: 10px 0;
  text-align: center;
}
#tion4 .tion4o .cards .card .img:hover::after {
  bottom: 0;
}
#tion4 .tion4o .button {
  display: flex;
  align-items: center;
  justify-content: center;
}
#tion4 .tion4o .button button {
  background: orangered;
  color: white;
  border: none;
  font-size: 23px;
  position: relative;
  overflow: hidden;
  padding: 20px 50px;
}
#tion4 .tion4o .button button span {
  position: relative;
  z-index: 1;
}
#tion4 .tion4o .button button:before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(59, 57, 57);
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: left 0.6s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
#tion4 .tion4o .button button:hover:before {
  left: 0;
}
#tion4 .foto {
  width: 100%;
  height: 400px;
}

#tion5 {
  width: 100%;
  padding: 70px 0;
}
#tion5 .tion5a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
#tion5 .tion5a .watch {
  width: 60%;
}
#tion5 .tion5a .watch p {
  margin-top: 25px;
}
#tion5 .tion5a button {
  margin-top: 40px;
  background: orangered;
  color: white;
  border: none;
  font-size: 23px;
  position: relative;
  overflow: hidden;
  padding: 20px 50px;
}
#tion5 .tion5a button span {
  position: relative;
  z-index: 1;
}
#tion5 .tion5a button:before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(42, 40, 40);
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: left 0.6s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
#tion5 .tion5a button:hover:before {
  left: 0;
}

#tion6 {
  width: 100%;
  margin-top: 40px;
}
#tion6 .tion6a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
#tion6 .tion6a .of {
  width: 60%;
}
#tion6 .tion6a .of p {
  margin-top: 25px;
}
#tion6 .tion6a .of button {
  margin-top: 40px;
  background: orangered;
  color: white;
  border: none;
  font-size: 23px;
  position: relative;
  overflow: hidden;
  padding: 20px 50px;
}
#tion6 .tion6a .of button span {
  position: relative;
  z-index: 1;
}
#tion6 .tion6a .of button:before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(61, 59, 59);
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: left 0.6s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
#tion6 .tion6a .of button:hover:before {
  left: 0;
}

#tion7 {
  width: 100%;
  margin-top: 50px;
}
#tion7 .tia {
  display: flex;
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 50px;
  background-color: rgb(223, 105, 36);
}
#tion7 .tia .tim {
  width: 250px;
  height: 250px;
  padding: 20px;
}
#tion7 .tia .tim h2 {
  font-size: x-large;
}
#tion7 .tia .tim p {
  font-size: 18px;
}

.tempo {
  width: 100%;
  display: flex;
  padding: 50px 0px;
}

.quick {
  width: 75%;
  margin: auto;
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.quick img {
  width: 60%;
  cursor: pointer;
  display: flex;
  font-size: 18px;
}

.support-1, .support-2, .support-3, .support-4 {
  width: 23%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.support-1 p {
  color: #797979;
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.support-2 h1, .support-3 h1, .support-4 h1 {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.support-2 p, .support-3 p, .support-4 p {
  color: #7d7c7c;
  font-family: "Courier New", Courier, monospace;
}

.support-2 p:hover, .support-3 p:hover, .support-4 p:hover {
  color: #ff003c;
  cursor: pointer;
}

a {
  text-decoration: none;
}

footer {
  width: 100%;
  padding: 30px 0px;
}
footer .footera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
footer .footera .copy {
  font-size: 24px;
}
footer .footera .copy i {
  color: red;
}
footer .footera .icons {
  display: flex;
  gap: 30px;
  color: gray;
  align-items: center;
}/*# sourceMappingURL=index.css.map */